#header-inner-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 100%;
    #header-inner-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100%;
        #header-logo-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            #jammming-logo {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #spotify-logo {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: relative;
                top: 21px;
                right: 87px;
                p {
                    font-size: 0.75rem;
                    position: relative;
                    top: 15px;
                }
            }
        }
        #header-nav-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            ul {
                //border: $border-lime-dashed;
                @include box-reset-default;
                margin-right: 20px;
                list-style: none;
                flex-wrap: wrap;
                gap: 3px 15px;
                li {
                    //border: $border-lime-dashed;
                    font-weight: bold;
                    button {
                        color: white;
                        font-weight: bold;
                        border-radius: 20px;
                        width: 100px;
                        height: 40px;
                        position: relative;
                        h6 {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                        }
                    }
                    #logoff {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                    }
                    #logoff:hover {
                        color: $secondary;
                        background: none;
                    }
                    #spotify-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        width: max-content;
                        background-color: black;
                        border: 2px solid $primary;
                        border-radius: 25px;
                        color: $primary;
                        font-weight: bold;
                        height: 40px;
                        padding: 0px 10px 0px;
                        img {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            height: 25px;
                            width: 25px;
                            margin-right: 5px;
                        }
                        h6 {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                        }
                    }
                }
            }
        }
    }
}

.popover {
    //border: $border-lime-dashed;
    @include box-reset-default;
    background-color: lightgrey;
    width: auto !important;       
    min-width: 1000px !important;  
    max-width: 1250px !important;  
    white-space: normal !important; 
    p {
        color: black;
        font-size: large;
        strong {
            color: black;
        }
    }
    h5 {
        color: black;
        font-size: larger;
        font-weight: bold;
    }
    h6 {
        font-size: larger;
        font-weight: bolder;
    }
    br {
        font-size: smaller;
    }
}
.popover-header {
    background-color: #ffffff; 
    color: $secondary; 
}