#artist-page-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 600px;
    #artist-page-banner-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 225px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        padding-right: 30px;
        #filter {
            //border: $border-yellow-solid;
            @include box-reset-default;
            background-color: rgba($color: #000000, $alpha: 0.35);;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        img {
            //border: $border-yellow-solid;
            @include box-reset-default;
            z-index: 0;
            display: block;
            overflow: hidden;
            width: 100%;
            height: 100%; // Make image take the full height of the container
            position: absolute;
            object-fit: cover; // Ensure the image covers the container while keeping its center aligned
            object-position: center; // Centers the image within the container
            border-radius: 10px;
        }
        #artist-page-banner-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            white-space: nowrap;
            z-index: 1;
            h1 {
                font-weight: bolder;
                font-size: 3rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            margin-left: 15px;
        }
    }
    #artist-page-top-five-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        padding: 15px 0;
        height: fit-content;
        #artist-page-top-five-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
        }
    }
    #artist-page-disco-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        #artist-page-disco-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
        }
    }
}