$border-red-solid: 2px solid red;
$border-red-dashed: 2px dashed red;
$border-red-dotted: 2px dotted red;
$border-red-solid-thick: 5px solid red;
$border-red-dashed-thick: 5px dashed red;
$border-red-dotted-thick: 5px dotted red;

$border-orange-solid: 2px solid orange;
$border-orange-dashed: 2px dashed orange;
$border-orange-dotted: 2px dotted orange;
$border-orange-solid-thick: 5px solid orange;
$border-orange-dashed-thick: 5px dashed orange;
$border-orange-dotted-thick: 5px dotted orange;

$border-yellow-solid: 2px solid yellow;
$border-yellow-dashed: 2px dashed yellow;
$border-yellow-dotted: 2px dotted yellow;
$border-yellow-solid-thick: 5px solid yellow;
$border-yellow-dashed-thick: 5px dashed yellow;
$border-yellow-dotted-thick: 5px dotted yellow;
$border-lime-solid: 2px solid lime;
$border-lime-dashed: 2px dashed lime;
$border-lime-dotted: 2px dotted lime;
$border-lime-solid-thick: 5px solid lime;
$border-lime-dashed-thick: 5px dashed lime;
$border-lime-dotted-thick: 5px dotted lime;

$border-green-solid: 2px solid green;
$border-green-dashed: 2px dashed green;
$border-green-dotted: 2px dotted green;
$border-green-solid-thick: 5px solid green;
$border-green-dashed-thick: 5px dashed green;
$border-green-dotted-thick: 5px dotted green;

$border-blue-solid: 2px solid blue;
$border-blue-dashed: 2px dashed blue;
$border-blue-dotted: 2px dotted blue;
$border-blue-solid-thick: 5px solid blue;
$border-blue-dashed-thick: 5px dashed blue;
$border-blue-dotted-thick: 5px dotted blue;

$border-cyan-solid: 2px solid cyan;
$border-cyan-dashed: 2px dashed cyan;
$border-cyan-dotted: 2px dotted cyan;
$border-cyan-solid-thick: 5px solid cyan;
$border-cyan-dashed-thick: 5px dashed cyan;
$border-cyan-dotted-thick: 5px dotted cyan;

$border-pink-solid: 2px solid pink;
$border-pink-dashed: 2px dashed pink;
$border-pink-dotted: 2px dotted pink;
$border-pink-solid-thick: 5px solid pink;
$border-pink-dashed-thick: 5px dashed pink;
$border-pink-dotted-thick: 5px dotted pink;

$border-magenta-solid: 2px solid magenta;
$border-magenta-dashed: 2px dashed magenta;
$border-magenta-dotted: 2px dotted magenta;
$border-magenta-solid-thick: 5px solid magenta;
$border-magenta-dashed-thick: 5px dashed magenta;
$border-magenta-dotted-thick: 5px dotted magenta;

$border-lilac-solid: 2px solid darkviolet;
$border-lilac-dashed: 2px dashed darkviolet;
$border-lilac-dotted: 2px dotted darkviolet;
$border-lilac-solid-thick: 5px solid darkviolet;
$border-lilac-dashed-thick: 5px dashed darkviolet;
$border-lilac-dotted-thick: 5px dotted darkviolet;

$border-purple-solid: 2px solid purple;
$border-purple-dashed: 2px dashed purple;
$border-purple-dotted: 2px dotted purple;
$border-purple-solid-thick: 5px solid purple;
$border-purple-dashe-thickd: 5px dashed purple;
$border-purple-dotted-thick: 5px dotted purple;