@mixin box-reset-default {
    margin: 0;
    padding: 0;
}

@mixin custom-scroll-bar {
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: $bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: white;
    }
}