#single-pl-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 75px;
    padding-right: 10px;
    margin-right: 5px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100%;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            position: relative;
            width: 75px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #playlist-cover {
                border-radius: 5px;
                visibility: visible;
                position: absolute;
            }
            #play-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: absolute;
                #play-icon {
                    //border: $border-lime-dashed;
                    @include box-reset-default;
                    visibility: hidden;
                    position: relative;
                }
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            overflow: hidden;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                height: 50px;
                margin-left: 5px;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
    }
}
#single-pl-container-green {
    //border: $border-red-solid;
    @include box-reset-default;
    color: $primary;
    height: 75px;
    padding-right: 10px;
    margin-right: 5px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        color: $primary;
        height: 100%;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            color: $primary;
            position: relative;
            width: 75px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #playlist-cover {
                border-radius: 5px;
                visibility: visible;
                position: absolute;
            }
            #play-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: absolute;
                #play-icon {
                    //border: $border-lime-dashed;
                    @include box-reset-default;
                    visibility: hidden;
                    position: relative;
                }
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            color: $primary;
            overflow: hidden;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                color: $primary;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                height: 100%;
                margin-left: 5px;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
    }
}



#single-pl-container:hover {
    //border: $border-red-solid;
    @include box-reset-default;
    background-color: $bg-transparent;
    border-radius: 10px;
    margin-right: 10px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            position: relative;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #playlist-cover {
                visibility: hidden;
                position: absolute;
            }
            #play-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: absolute;
                #play-icon {
                    //border: $border-lime-dashed;
                    @include box-reset-default;
                    visibility: visible;
                    position: relative;
                }
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                margin-left: 5px;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 10px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
    }
}
#single-pl-container-green:hover {
    //border: $border-red-solid;
    @include box-reset-default;
    color: $primary;
    background-color: $bg-transparent;
    border-radius: 10px;
    margin-right: 10px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        color: $primary;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            position: relative;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #playlist-cover {
                visibility: visible;
                position: absolute;
                opacity: 0.25;
            }
            #play-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: absolute;
                z-index: 1;
                #play-icon {
                    //border: $border-lime-dashed;
                    @include box-reset-default;
                    visibility: visible;
                    position: relative;
                }
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            color: $primary;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                color: $primary;
                margin-left: 5px;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 10px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
    }
}