#home-page-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 100vh;

    #header-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        background-color: $bg-transparent;
        height: 90px;
        #header-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
        }
    }

    #main-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        #playlists-col, #search-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            background-color: $bg-transparent;
            border-radius: 20px;
            margin: 20px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #fused-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            background-color: $bg-transparent;
            border-radius: 20px;
            margin: 20px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px 15px;
            #smallScreenTabs {
                //border: $border-lime-solid;
                @include box-reset-default;
                height: 75px;
                .nav-item {
                    //border: $border-yellow-dotted;
                    @include box-reset-default;
                    padding: 20px 0px;
                    font-weight: bold;
                    font-size: larger;
                    width: 50%;
                    #playlists-tab {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        border-color: $primary;
                        height: 40px;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    #search-tab {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        border-color: $primary;
                        height: 40px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
            }
            #smallScreenTabsContent{
                //border: $border-lime-solid;
                @include box-reset-default;
                #playlists {
                    //border: $border-yellow-dotted;
                    @include box-reset-default;
                }
                #search {
                    //border: $border-yellow-dotted;
                    @include box-reset-default;
                }
            }
        }
    }

    #footer-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        background-color: $bg-transparent;
        height: 90px;
        #footer-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
        }
    }
}
