#button-box-container{
    //border: $border-red-solid;
    @include box-reset-default;
    background-color: $bg-transparent;
    border-radius: 20px;
    max-height: 750px;
    width: 480px;
    flex-grow: 1; 
    #logo-row{
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 200px;
        #logo-col{
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            #jammming-logo {
                //border: $border-lime-dotted;
                @include box-reset-default; 
                margin-top: 20px;
                img {
                    width: 100%;
                }
            }
            #spotify-logo{
                //border: $border-lime-dotted;
                margin-right: 50px;
                position: relative;
                top: -55px;
                right: 15px;
                #with-text{
                    //border: $border-lime-dotted;
                    position: relative;
                    top: 30px;
                }
            }
        }
    }
    #empty-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        flex-grow: 1; 
    }
    #button-row{
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100px;
        #button-col{
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            #login-button {
                //border: $border-lime-dotted;
                @include box-reset-default;
                width: 425px;
                border-radius: 25px;
                height: 50px;
                color: white;
            }
        }
    }
    #sub-link-row{
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 50px;
        #sub-link-col{
            //border: $border-cyan-solid;
            @include box-reset-default;
            p {
                color: $primary;
                font-weight: bold;
            }
            a {
                text-decoration: none;
            }
            a:hover {
                p {
                    color: $secondary;
                }
            }
        }
    }
}