#gen-results-container {
    //border: $border-red-dashed;
    @include box-reset-default;
    height: 100px;
    #gen-results-artists {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-artists-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            padding-bottom: 25px;
            h4 {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                height: 30px;
                margin-bottom: 10px;
            }
        }
    }  
    #gen-results-albuns {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-albuns-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            padding-bottom: 25px;
            h4 {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                height: 30px;
                margin-bottom: 10px;
            }
        }
    }
    #gen-results-songs {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-songs-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            padding-bottom: 25px;
            h4 {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                margin-bottom: 5px;
                height: 30px;
                margin-bottom: 10px;
            }
            
        }
    }
}