#gen-results-container {
    //border: $border-red-dashed;
    @include box-reset-default;
    height: 100px;
    #gen-results-artists {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-artists-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            padding-bottom: 25px;
            #artist-box-title {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                height: 40px;
                margin-bottom: 10px;
                position: relative;
                h4 {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: fit-content;
                }
                #white-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: visible;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        gap: 5px;
                    }
                }
                #green-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: hidden;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        gap: 5px;
                    }
                }
            }
            #artist-box-title:hover {
                #white-logo  {
                    visibility: hidden;
                }
                #green-logo  {
                    visibility: visible;
                }
            }
        }
    }  
    #gen-results-albuns {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-albuns-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            padding-bottom: 25px;
            #album-box-title {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                height: 40px;
                margin-bottom: 10px;
                position: relative;
                h4 {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: fit-content;
                }
                #white-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: visible;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        gap: 5px;
                    }
                }
                #green-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: hidden;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        gap: 5px;
                    }
                }
            }
            #album-box-title:hover {
                #white-logo  {
                    visibility: hidden;
                }
                #green-logo  {
                    visibility: visible;
                }
            }
        }
    }
    #gen-results-songs{
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #gen-results-songs-col {
            //border: $border-yellow-dashed;
            @include box-reset-default;
            #open-tracks-results-container  {
                //border: $border-cyan-dashed;
                @include box-reset-default;
                padding-bottom: 25px;
                #track-box-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    border-bottom: 1px solid white;
                    height: 40px;
                    margin-bottom: 10px;
                    position: relative;
                    h4 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        width: fit-content;
                    }
                    #white-logo  {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        height: 100%;
                        text-decoration: none;
                        position: absolute;
                        right: 0;
                        visibility: visible;
                        p {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            gap: 5px;
                        }
                    }
                    #green-logo  {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        height: 100%;
                        text-decoration: none;
                        position: absolute;
                        right: 0;
                        visibility: hidden;
                        p {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            color: $primary;
                            gap: 5px;
                        }
                    }
                }
                #track-box-title:hover {
                    #white-logo  {
                        visibility: hidden;
                    }
                    #green-logo  {
                        visibility: visible;
                    }
                } 
            }
        }
    }
}