#single-pl-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 50px;
    padding-right: 10px;
    margin-right: 5px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100%;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            position: relative;
            width: 40px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #saved-icon {
                visibility: visible;
                position: absolute;
            }
            #play-icon {
                visibility: hidden;
                position: absolute;
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            overflow: hidden;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                height: 100%;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: hidden;
            }
        }
    }
}



#single-pl-container:hover {
    //border: $border-red-solid;
    @include box-reset-default;
    background-color: $bg-transparent;
    border-radius: 10px;
    height: 50px;
    padding-right: 10px;
    #single-pl-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100%;
        #checkmark-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            position: relative;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
            #saved-icon {
                visibility: hidden;
                position: absolute;
            }
            #play-icon {
                visibility: visible;
                position: absolute;
            }
        }
        #pl-title-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            h4 {
                //border: $border-lime-dashed;
                @include box-reset-default;
            }
        }
        #edit-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #share-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
        #delete-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            padding: 0px 5px;
            img {
                //border: $border-lime-dashed;
                @include box-reset-default;
                visibility: visible;
            }
        }
    }
}