#top-five-container {
    //border: 1px solid white;
    @include box-reset-default;
    background-color: $bg-transparent;
    height: 320px;
    border-radius: 10px;
    padding: 10px 10px;
    #top-five-row {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        height: 100%;
        overflow-y: hidden;
        scrollbar-gutter: stable;
        #top-five-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            #popular-box-title {
                //border: $border-lime-dotted;
                @include box-reset-default;
                height: 40px;
                margin-bottom: 10px;
                padding: 0px 15px 0px 10px;
                position: relative;
                h4 {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: fit-content;
                }
                #white-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: visible;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        gap: 5px;
                    }
                }
                #green-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: hidden;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        gap: 5px;
                    }
                }
            }
            #popular-box-title:hover {
                #white-logo  {
                    visibility: hidden;
                }
                #green-logo  {
                    visibility: visible;
                }
            } 
            #songs-inner-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 50px;
                padding-right: 5px;
                margin-right: 10px;
                cursor: grab;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    h5 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        position: absolute;
                    }
                    #drag-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        #drag-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: relative;
                            cursor: grab;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -3px;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                    #plus-dd:hover {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    padding: 3px;
                }
                #col-plays {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-add, #col-cover, #col-title, 
                #col-plays,#col-plus, #col-minus, #col-duration {
                    height: 100%;
                    padding: 0 5px;
                };  
            }
            #songs-inner-row-green {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                color: $primary;
                height: 50px;
                padding-right: 5px;
                margin-right: 10px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    h5 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        position: absolute;
                        color: $primary
                    }
                    #drag-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        #drag-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: relative;
                            cursor: grab;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        opacity: 0.25;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -3px;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                    #plus-dd:hover {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    color: $primary;
                    width: 40px;
                    padding: 3px;
                }
                #col-plays {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-add, #col-cover, #col-title, 
                #col-plays,#col-plus, #col-minus, #col-duration {
                    height: 100%;
                    padding: 0 5px;
                };  
            }
            #songs-inner-row:hover {
                background-color: $primary;
                border-radius: 10px;
                margin-right: 10px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    h5 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        position: absolute;
                        visibility: hidden;
                    }
                    #drag-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        #drag-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: relative;
                            cursor: grab;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        opacity: 1;
                        background-color: black;
                        border-radius: 15%;
                        img {
                            visibility: hidden;
                        }
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
            }
            #songs-inner-row-green:hover {
                background-color: $primary;
                border-radius: 10px;
                margin-right: 10px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    h5 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        position: absolute;
                        visibility: hidden;
                    }
                    #drag-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        #drag-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: relative;
                            cursor: grab;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        opacity: 1;
                        background-color: black;
                        border-radius: 15%;
                        img {
                            visibility: hidden;
                        }
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-title {
                    h5{
                        color: black
                    }
                }
                #col-duration {
                    p{
                        color: black
                    }
                }
            }
        }
    }
    #top-five-row:hover {
        overflow-y: auto;
    }
}

#discography-container {
    //border: $border-red-dashed;
    @include box-reset-default;
    height: fit-content;
    #discography-row {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #discography-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            #disco-box-title {
                //border: $border-lime-dotted;
                @include box-reset-default;
                border-bottom: 1px solid white;
                height: 40px;
                margin-bottom: 10px;
                position: relative;
                h4 {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: fit-content;
                }
                #white-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: visible;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        gap: 5px;
                    }
                }
                #green-logo  {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 100%;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    visibility: hidden;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        gap: 5px;
                    }
                }
            }
            #disco-box-title:hover {
                #white-logo  {
                    visibility: hidden;
                }
                #green-logo  {
                    visibility: visible;
                }
            } 
            #albuns-inner-row {
                //border: $border-yellow-dotted;
                @include box-reset-default;
                height: fit-content;
                #album-thumbnail {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    padding: 10px;
                    max-width: 50%;
                    white-space: nowrap;
                    img {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        padding-bottom: 5px;
                        width: 100%;
                        border-radius: 10px;
                    } 
                    h6 {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        text-align: start;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }    
                    h6:hover {
                        text-decoration: underline;
                    }
                    p {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        font-weight: lighter;
                        text-align: start;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #album-thumbnail:hover {
                    background-color: $bg-transparent;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }
    }
}

.selected-track3 {
    @include box-reset-default;
    background-color: $bg-transparent2;
    border-radius: 10px; // Add similar styling as hover if needed
    border: 1px solid $primary;
    box-sizing: border-box;
    height: 50px;
}
.selected-track3:hover {
    @include box-reset-default;
    border: 1px solid white !important;
    border-radius: 10px; // Add similar styling as hover if needed
}
.no-text-select {
    user-select: none;
}