#button-box-container{
    //border: $border-red-solid;
    @include box-reset-default;
    background-color: $bg-transparent2;
    border-radius: 20px;
    max-height: 750px;
    width: 480px;
    flex-grow: 1; 
    #logo-row{
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 200px;
        #logo-col{
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            #jammming-logo {
                //border: $border-lime-dotted;
                @include box-reset-default; 
                margin-top: 20px;
                img {
                    width: 100%;
                }
            }
            #spotify-logo{
                //border: $border-lime-dotted;
                background-color: $primary;
                margin-right: 50px;
                position: relative;
                top: 0px;
                right: 0px;
                padding-left: 10px;
                border-radius: 50px;
                width: 300px;
                img {
                    //border: $border-cyan-solid;
                    @include box-reset-default;
                    margin: 10px;
                }
                #with-text{
                    //border: $border-lime-dotted;
                    position: relative;
                    top: 35px;
                }
            }
        }
    }
    #empty-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        flex-grow: 1; 
    }
    #button-row{
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 175px;
        #button-col{
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            position: relative;
            #login-button {
                //border: $border-lime-dotted;
                @include box-reset-default;
                width: 400px;
                border-radius: 25px;
                min-height: 50px;
                color: white;
                font-weight: bold;
                position: absolute;
            }
            #or-text {
                //border: $border-lime-dotted;
                @include box-reset-default;
                position: absolute;
                bottom: 95px;
            }
            #subscribe-button {
                //border: $border-lime-dotted;
                @include box-reset-default;
                width: 250px;
                padding: 0px 25px 0px;
                background-color: black;
                border: 2px solid $primary;
                border-radius: 25px;
                min-height: 50px;
                max-height: 50px;
                color: $primary;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                margin-bottom: 35px;
                img {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    height: 30px;
                    width: 30px;
                    margin-right: 5px;
                }
            }
        }
    }
}