#album-page-container {
    //border: $border-red-dashed;
    @include box-reset-default;
    height: 100px;
    #album-page-banner-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: fit-content;
        padding-bottom: 10px;
        #album-page-banner-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            #album-inner-banner-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                #album-cover-col {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    padding: 10px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        border-radius: 10px;
                    }
                }
                #album-title-col {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-left: 10px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    h1 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    #album-page-songs-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        #album-page-songs-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            #top-labels {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 25px;
                border-bottom: 1px solid white;
                margin-bottom: 5px;
                #col-num {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    h6 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        font-weight: lighter;
                    }
                };
                #col-cover {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                };
                #col-title {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        font-weight: lighter;
                    }
                    h5 {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                };
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 10px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                    #plus-dd:hover {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 10px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                }
                #col-album {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        font-weight: lighter;
                    }
                };
                #col-duration {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 55px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: relative;
                        bottom: 4px;
                    }
                };
                #col-num, #col-cover, #col-title, 
                #col-album, #col-plus, #col-minus, 
                #col-duration {
                    height: 100%;
                    padding: 0 5px;
                };    
            }
            #tracks-list {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                #tracks-list-col {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    #songs-inner-row {
                        //border: $border-yellow-dotted;
                        @include box-reset-default;
                        height: 50px;
                        cursor: grab;
                        #col-num {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 40px;
                            position: relative;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                position: absolute;
                            }
                            #drag-button {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                                #drag-icon {
                                    //border: $border-lime-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: relative;
                                    cursor: grab;
                                }
                            }
                        };
                        #col-play {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 50px;
                            img {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                            }
                        };
                        #col-title {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            flex-wrap: wrap;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-bottom: -3px;
                            }
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-top: -3px;
                            }
                        };
                        #col-author {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            flex-wrap: wrap;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-bottom: -3px;
                            }
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-top: -3px;
                            }
                        };
                        #col-plus {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 50px;
                            padding: 3px;
                            position: relative;
                            #plus-dd {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                width: 40px;
                                position: relative;
                                padding-right: 10px;
                                #plus-icon {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: absolute;
                                }
                                #plus-icon-green {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: absolute;
                                }
                            }
                            #plus-dd:hover {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                width: 40px;
                                position: relative;
                                padding-right: 10px;
                                #plus-icon {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: absolute;
                                }
                                #plus-icon-green {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: absolute;
                                }
                            }
                            #dropdown-ul {
                                //border: $border-cyan-dotted;
                                max-height: 300px;
                                overflow-y: hidden;
                                scrollbar-gutter: stable;
                                padding-right: 5px;
                                background-color: $primary;
                                #dd-top-text {
                                    //border: $border-cyan-dotted;
                                    color: white;
                                    background-color: $primary;
                                }
                                #dd-item{
                                    //border: $border-cyan-dotted;
                                    font-weight: bold;
                                }
                                #dd-item:hover {
                                    //border: $border-cyan-dotted;
                                    background-color: $secondary;
                                    color: white;
                                    font-weight: bold;
                                }
                            }
                            #dropdown-ul:hover {
                                overflow-y: auto;
                            }
                            #plus-dd:focus, #plus-dd:focus-visible {
                                border: none;
                                outline: none;
                            }
                        }
                        #col-minus {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 40px;
                            padding: 3px;
                        }
                        #col-album {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        };
                        #col-duration {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            width: 55px;
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        };
                        #col-num, #col-cover, #col-title, 
                        #col-album, #col-plus, #col-minus, 
                        #col-duration {
                            height: 100%;
                            padding: 0 5px;
                        };   
                    }
                    #songs-inner-row-green {
                        //border: $border-yellow-dotted;
                        @include box-reset-default;
                        color: $primary;
                        height: 50px;
                        cursor: grab;
                        #col-num {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 40px;
                            position: relative;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                position: absolute;
                                color: $primary
                            }
                            #drag-button {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                                #drag-icon {
                                    //border: $border-lime-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: relative;
                                    cursor: grab;
                                }
                            }
                        };
                        #col-play {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 50px;
                            img {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                            }
                        };
                        #col-title {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            color: $primary;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            flex-wrap: wrap;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                color: $primary;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-bottom: -3px;
                            }
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                color: $primary;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                width: 100%;
                                margin-top: -3px;
                            }
                        };
                        #col-plus {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 50px;
                            padding: 3px;
                            position: relative;
                            #plus-dd {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                width: 40px;
                                position: relative;
                                padding-right: 10px;
                                #plus-icon {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: absolute;
                                }
                                #plus-icon-green {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: absolute;
                                }
                            }
                            #plus-dd:hover {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                width: 40px;
                                position: relative;
                                padding-right: 10px;
                                #plus-icon {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: hidden;
                                    position: absolute;
                                }
                                #plus-icon-green {
                                    //border: $border-cyan-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: absolute;
                                }
                            }
                            #dropdown-ul {
                                //border: $border-cyan-dotted;
                                max-height: 300px;
                                overflow-y: hidden;
                                scrollbar-gutter: stable;
                                padding-right: 5px;
                                background-color: $primary;
                                #dd-top-text {
                                    //border: $border-cyan-dotted;
                                    color: white;
                                    background-color: $primary;
                                }
                                #dd-item{
                                    //border: $border-cyan-dotted;
                                    font-weight: bold;
                                }
                                #dd-item:hover {
                                    //border: $border-cyan-dotted;
                                    background-color: $secondary;
                                    color: white;
                                    font-weight: bold;
                                }
                            }
                            #dropdown-ul:hover {
                                overflow-y: auto;
                            }
                            #plus-dd:focus, #plus-dd:focus-visible {
                                border: none;
                                outline: none;
                            }
                        }
                        #col-minus {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            color: $primary;
                            width: 40px;
                            padding: 3px;
                        }
                        #col-album {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            color: $primary;
                            white-space: nowrap;
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                color: $primary;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        };
                        #col-duration {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            color: $primary;
                            white-space: nowrap;
                            width: 55px;
                            p {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                color: $primary;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        };
                        #col-num, #col-cover, #col-title, 
                        #col-album, #col-plus, #col-minus, 
                        #col-duration {
                            height: 100%;
                            padding: 0 5px;
                        };   
                    }
                    #songs-inner-row:hover {
                        background-color: $bg-transparent;
                        border-radius: 10px;
                        #col-num {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 40px;
                            position: relative;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                visibility: hidden;
                                position: absolute;
                            }
                            #drag-button {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                                #drag-icon {
                                    //border: $border-lime-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: relative;
                                }
                            }
                        }
                        #col-options {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            width: 25px;
                            margin-right: 5px;
                            position: relative;
                            #opt-icon {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                            }
                        }  
                    }
                    #songs-inner-row-green:hover {
                        background-color: $bg-transparent;
                        border-radius: 10px;
                        #col-num {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            width: 40px;
                            position: relative;
                            h5 {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                visibility: hidden;
                                position: absolute;
                            }
                            #drag-button {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                                #drag-icon {
                                    //border: $border-lime-dotted;
                                    @include box-reset-default;
                                    visibility: visible;
                                    position: relative;
                                }
                            }
                        }
                        #col-options {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            white-space: nowrap;
                            width: 25px;
                            margin-right: 5px;
                            position: relative;
                            #opt-icon {
                                //border: $border-lime-dotted;
                                @include box-reset-default;
                                position: absolute;
                            }
                        }  
                    }
                }
            }
        }
    }
}