#playlists-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 100%;
    position: relative;
    padding: 0px 10px 10px;
    #pl-header-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 75px;
        #pl-heading-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            overflow: hidden;
            padding-left: 15px;
            h3 {
                //border: $border-lime-dashed;
                @include box-reset-default;
                padding-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }
        #add-button-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            padding-right: 20px;
            padding-top: 10px;
            #create-pl-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: relative;
                #plus {
                    //border: $border-lime-dashed;
                    @include box-reset-default;  
                    position: absolute;              
                    visibility: visible;  
                }
                #plusGreen {
                    //border: $border-lime-dashed;
                    @include box-reset-default;    
                    visibility: hidden;                 
                }
            }
        }
        #add-button-col:hover {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            padding-right: 20px;
            padding-top: 10px;
            #create-pl-button {
                //border: $border-lime-dashed;
                @include box-reset-default;
                position: relative;
                #plus {
                    //border: $border-lime-dashed;
                    @include box-reset-default;  
                    position: absolute;              
                    visibility: hidden;  
                }
                #plusGreen {
                    //border: $border-lime-dashed;
                    @include box-reset-default;    
                    visibility: visible;                 
                }
            }
        }
    }
    #pl-body-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 88%;
        overflow-y: hidden;
        scrollbar-gutter: stable;
        #pl-body-col {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 50px;
        }
    }
    #pl-body-row:hover {
        overflow-y: auto;
    }
}