//--------bootstrap_override--------//

$primary: #1DB954;
$secondary:  rgb(241, 91, 241);

$form-check-input-checked-border-color: $primary;
$form-check-input-focus-box-shadow: none;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//----------custom_modules----------//

@import "./custom_modules/borders.scss";
@import "./custom_modules/mixins.scss";
@import "./custom_modules/variables.scss";

//------------home_page------------//

@import "../pages/home/HomePage.scss";
@import "../components/ui/home/header/HomeHeader.scss";
@import "../components/ui/home/playlists_container/user_playlists/UserPlaylists.scss";
@import "../components/ui/home/playlists_container/user_playlists/playlist/Playlist.scss";
@import "../components/ui/home/playlists_container/open_playlist/OpenPlaylist.scss";
@import "../components/ui/home/playlists_container/open_playlist/track/PlaylistTrack.scss";
@import "../components/ui/home/track_player/TrackPlayer.scss";
@import "../components/ui/home/search_container/SearchContainer.scss";
@import "../components/ui/home/search_container/general_results/GeneralResultsPage.scss";
@import "../components/ui/home/search_container/general_results/list_components/ResultBoxes.scss";
@import "../components/ui/home/search_container/artist_page/ArtistPage.scss";
@import "../components//ui/home/search_container/artist_page/section_components/ArtistPageSections.scss";
@import "../components/ui/home/search_container/album_page/AlbumPage.scss";

//-----------login_page-----------//

@import "../pages/login/LoginPage.scss";
@import "../components/ui/login/LoginButtonBox.scss";

//------------------------------------------------------------------------------//

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url(../assets/images/background/00_sparkly-purple-bkg.jpg);
    background-size: cover; // Options: cover, contain, or specific size in px/percentage
    background-repeat: no-repeat; // Prevents the image from repeating
    background-position: center; // Centers the image
}

@include custom-scroll-bar;