#single-track-container { 
    //border: $border-red-dotted;
    @include box-reset-default;
    #single-track-row {
        //border: $border-yellow-dotted;
        @include box-reset-default;
        height: 50px;
        #col-num {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            width: 40px;
            position: relative;
            p {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
                position: absolute;
                font-weight: lighter;
            }
            #drag-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                visibility: hidden;
                position: absolute;
            }
        };
        #col-cover {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            width: 50px;
            img {
                //border: $border-lime-dotted;
                @include box-reset-default;
            }
        };
        #col-title {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-wrap: wrap;
            h5 {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                margin-bottom: -3px;
            }
            p {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                margin-top: -3px;
            }
        };
        #col-album {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            white-space: nowrap;
            p {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        };
        #col-duration {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            white-space: nowrap;
            width: 55px;
            p {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        };
        #col-saved {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            white-space: nowrap;
            width: 25px;
            margin-right: 5px;
            position: relative;
            #saved-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                position: absolute;
            }
            #opt-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                position: absolute;
                visibility: hidden;
            }
        };
        #col-num, #col-cover, #col-title, 
        #col-album, #col-saved, #col-duration {
            height: 100%;
            padding: 0 5px;
        };   
    }
}

#single-track-container { 
    #single-track-row:hover {
        background-color: $bg-transparent;
        border-radius: 10px;
        #col-num {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            width: 40px;
            position: relative;
            p {
                //border: $border-lime-dotted;
                @include box-reset-default;
                text-overflow: ellipsis;
                overflow: hidden;
                visibility: hidden;
                position: absolute;
                font-weight: lighter;
            }
            #drag-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                visibility: visible;
                position: absolute;
                
            }
    
        }
        #col-saved {
            //border: $border-cyan-dotted;
            @include box-reset-default;
            white-space: nowrap;
            width: 25px;
            margin-right: 5px;
            position: relative;
            #saved-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                position: absolute;
                visibility: hidden;
            }
            #opt-icon {
                //border: $border-lime-dotted;
                @include box-reset-default;
                position: absolute;
                visibility: visible;
            }
        }  
    }
}