#track-player-container {
    //border: $border-red-solid;
    @include box-reset-default;
    height: 100%;
    #track-player-row {
        //border: $border-yellow-solid;
        @include box-reset-default;
        height: 100%;
        #track-player-text {
            //border: $border-cyan-solid;
            @include box-reset-default;
            height: 100%;
            h4 {
                //border: $border-lime-solid;
                @include box-reset-default;
            }
            p {
                //border: $border-lime-solid;
                @include box-reset-default;
            }
        }
        #col-track {
            //border: $border-cyan-solid;
            @include box-reset-default;
            overflow: hidden;
            #col-cover {
                //border: $border-cyan-dashed;
                @include box-reset-default;
                width: 80px;
                margin-left: 20px;
                #display-cover {
                    //border: $border-lime-dashed;
                    @include box-reset-default;
                    width: 100%;
                    img {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        border-radius: 6px;
                    }
                }
            }
            #col-title {
                //border: $border-cyan-dashed;
                @include box-reset-default;
                margin-left: 5px;
                overflow: hidden;
                white-space: nowrap;
                h5 {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    font-weight: lighter;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p:hover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    font-weight: lighter;
                    text-decoration: underline;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            #col-saved {
                //border: $border-cyan-dashed;
                @include box-reset-default;
                padding: 15px;
            }
            #col-blank {
                //border: $border-cyan-dashed;
                @include box-reset-default;
            }
        }
        #col-player {
            //border: $border-cyan-solid;
            @include box-reset-default;
            #track-butttons-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 55px;
                padding-top: 10px;
                #col-shuffle {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                }
                #col-prev {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    width: 50px;
                    #prev-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                    }
                    #prev-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                    }
                }
                #col-play {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    #play-pause-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                    }
                    #play-pause-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        //position: absolute;
                        visibility: hidden;
                    }
                }
                #col-next {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    width: 50px;
                    #next-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                    }
                    #next-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                    }
                }
                #col-repeat {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                }
                //---------------hover---------------------------------
                #col-prev:hover {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    width: 50px;
                    #prev-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                    }
                    #prev-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                    }
                }
                #col-play:hover {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    #play-pause-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                    }
                    #play-pause-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        //position: absolute;
                        visibility: visible;
                    }
                }
                #col-next:hover {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 10px;
                    position: relative;
                    width: 50px;
                    #next-white {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                    }
                    #next-green {
                        //border: $border-lime-dashed;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                    }
                }
            }
            #track-butttons-row:hover {
                #col-shuffle {
                    cursor: pointer;
                }
                #col-prev {
                    cursor: pointer;
                }
                #col-play {
                    cursor: pointer;
                }
                #col-next {
                    cursor: pointer;
                }
                #col-repeat {
                    cursor: pointer;
                }
            }
            #progress-bar-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 35px;
                padding-bottom: 10px;
                #col-left-time {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    width: 45px;
                    height: 100%;
                    padding: 5px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        font-size: 0.75rem;
                    }
                }
                #col-bar {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 5px;
                    #progress-bar {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        appearance: none;
                        width: 100%;
                        height: 3px;
                        transition: height 0.05s linear 0s;
                        border-radius: 2.5px;
                        cursor: pointer;
                        overflow: hidden;
                        background-color: gray;
                    }
                    #progress-bar::-webkit-slider-thumb {
                        appearance: none;
                        width: 0;
                        height: 10px;
                        border-radius: 50%;
                        background: $primary;
                        box-shadow: -300px 0 0 300px white;
                    }
                }
                #col-bar:hover {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    height: 100%;
                    padding: 5px;
                    #progress-bar {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        appearance: none;
                        width: 100%;
                        height: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        overflow: hidden;
                        background-color: gray;
                    }
                    #progress-bar::-webkit-slider-thumb {
                        appearance: none;
                        width: 0;
                        height: 10px;
                        border-radius: 50%;
                        background: $primary;
                        box-shadow: -300px 0 0 300px $primary;
                    }
                }
                #col-right-time {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    width: 45px;
                    height: 100%;
                    padding: 5px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        font-size: 0.75rem;
                    }
                }
            }
        }
        #col-volume {
            //border: $border-cyan-solid;
            @include box-reset-default;
            #volume-bar-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 100%;
                #mute-icon {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                }
                #volume-bar {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    width: 150px;
                    padding: 10px;
                    padding-right: 25px;
                    #progress-bar {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        appearance: none;
                        width: 100%;
                        height: 3px;
                        transition: height 0.05s linear 0s;
                        border-radius: 2.5px;
                        cursor: pointer;
                        overflow: hidden;
                        background-color: gray;
                    }
                    #progress-bar::-webkit-slider-thumb {
                        appearance: none;
                        width: 0;
                        height: 10px;
                        border-radius: 50%;
                        background: $primary;
                        box-shadow: -130px 0 0 130px white;
                    }
                }
                #volume-bar:hover {
                    //border: $border-cyan-dashed;
                    @include box-reset-default;
                    width: 150px;
                    padding: 10px;
                    padding-right: 25px;
                    #progress-bar {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        appearance: none;
                        width: 100%;
                        height: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        overflow: hidden;
                        background-color: gray;
                    }
                    #progress-bar::-webkit-slider-thumb {
                        appearance: none;
                        width: 0;
                        height: 10px;
                        border-radius: 50%;
                        background: $primary;
                        box-shadow: -130px 0 0 130px $primary;
                    }
                }
            }
        }
    }
}