#top-five-container {
    //border: 1px solid white;
    @include box-reset-default;
    background-color: $bg-transparent;
    height: 320px;
    border-radius: 10px;
    padding: 10px 10px;
    #top-five-row {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        height: 100%;
        overflow-y: hidden;
        scrollbar-gutter: stable;
        #top-five-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            h4 {
                //border: $border-lime-solid;
                @include box-reset-default;
                height: 50px;
                padding: 10px 0 0 10px;
            }
            #songs-inner-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 50px;
                padding-right: 5px;
                margin-right: 10px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                    }
                    #drag-icon {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        visibility: hidden;
                        position: absolute;
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -3px;
                    }
                }
                #col-plays {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-options {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    width: 25px;
                    margin-right: 5px;
                    position: relative;
                    #opt-icon {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                }
                #col-add, #col-cover, #col-title, 
                #col-album, #col-options, #col-duration {
                    height: 100%;
                    padding: 0 5px;
                };  
            }
            #songs-inner-row:hover {
                background-color: $primary;
                border-radius: 10px;
                margin-right: 10px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 30px;
                    position: relative;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        visibility: hidden;
                        position: absolute;
                    }
                    #drag-icon {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        visibility: visible;
                        position: absolute;
                    }
                }
            }
        }
    }
    #top-five-row:hover {
        overflow-y: auto;
    }
}

#discography-container {
    //border: $border-red-dashed;
    @include box-reset-default;
    height: fit-content;
    #discography-row {
        //border: $border-yellow-dashed;
        @include box-reset-default;
        #discography-col {
            //border: $border-cyan-dashed;
            @include box-reset-default;
            h4 {
                //border: $border-lime-solid;
                @include box-reset-default;
                height: 35px;
                border-bottom: 1px solid white;
                margin-bottom: 10px;
            }
            #albuns-inner-row {
                //border: $border-yellow-dotted;
                @include box-reset-default;
                height: fit-content;
                #album-thumbnail {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    padding: 10px;
                    img {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        padding-bottom: 5px;
                        width: 100%;
                    } 
                    h6 {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        text-align: start
                    }    
                    p {
                        //border: $border-lime-solid;
                        @include box-reset-default;
                        font-weight: lighter;
                        text-align: start
                    }
                }
                #album-thumbnail:hover {
                    background-color: $bg-transparent;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }
    }
}