#gen-results-container {
    #gen-results-artists {
        #gen-results-artists-col {
            #artist-inner-row {
                //border: $border-yellow-dotted;
                @include box-reset-default;
                height: 75px;
                #artist-thumbnail {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 15px 0 10px;
                }
                #artist-name {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    #open-artist-page{
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                    #open-artist-page:hover{
                        text-decoration: underline;
                    }
                }
            }
            #artist-inner-row:hover {
                background-color: $bg-transparent;
                border-radius: 15px;
            }
        }
    }  
    #gen-results-albuns {
        #gen-results-albuns-col {
            #albuns-inner-row {
                //border: $border-yellow-dotted;
                @include box-reset-default;
                height: 75px;
                #album-thumbnail {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 75px;
                    img {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        border-radius: 5px;
                    }
                }
                #album-title {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    #open-album-page:hover{
                        text-decoration: underline;
                    }
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -2px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -2px;
                        #open-artist-page:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            #albuns-inner-row:hover {
                background-color: $bg-transparent;
                border-radius: 15px;
            }
        }
    }
    #gen-results-songs {
        #gen-results-songs-col {
            #songs-inner-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 50px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 40px;
                    position: relative;
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -3px;
                        #open-artist-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-album {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        #open-album-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    padding: 3px;
                }
                #col-num, #col-cover, #col-title, 
                #col-album, #col-duration,
                #col-plus, #col-minus {
                    height: 100%;
                    padding: 0 5px;
                };   
            }
            #songs-inner-row-green {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                color: $primary;
                height: 50px;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    width: 40px;
                    position: relative;
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        position: absolute;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            color: $primary;
                            position: relative;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    color: $primary;
                    @include box-reset-default;
                    width: 50px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-top: -3px;
                        #open-artist-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            color: $primary;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-album {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        #open-album-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            color: $primary;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                    }
                    #plus-icon {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    padding: 3px;
                }
                #col-num, #col-cover, #col-title, 
                #col-album, #col-duration,
                #col-plus, #col-minus {
                    height: 100%;
                    padding: 0 5px;
                };   
            }
            #songs-inner-row:hover {
                background-color: $bg-transparent;
                border-radius: 15px;
            }
            #songs-inner-row-green:hover {
                background-color: $bg-transparent;
                border-radius: 15px;
            }
        }
    }
}