#gen-results-container {
    #gen-results-artists {
        //border: $border-red-dotted;
        @include box-reset-default;
        padding-bottom: 15px;
        #gen-results-artists-col {
            //border: $border-yellow-dotted;
            @include box-reset-default;
            #inside-container {
                //border: $border-red-dotted;
                @include box-reset-default;
                height: fit-content;
                flex-wrap: wrap;
                #inside-row {
                    //border: $border-blue-dotted;
                    @include box-reset-default;
                    height: 100%;
                    #inside-col {
                        //border: $border-lime-dotted;
                        height: 235px;
                        max-width: 100%;
                        padding-top: 20px;
                        #artist-inner-row {
                            //border: $border-yellow-dotted;
                            @include box-reset-default;
                            height: 100%;
                            max-width: 100%;
                            #artist-thumbnail {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                width: 140px;
                                height: 140px;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            #artist-name {
                                //border: $border-cyan-dotted;
                                @include box-reset-default;
                                overflow: hidden;
                                padding-top: 10px;
                                #open-artist-page{
                                    //border: $border-lime-dotted;
                                    @include box-reset-default;
                                    text-align: center;
                                }
                                #open-artist-page:hover{
                                    text-decoration: underline;
                                    text-align: center;

                                }
                            }
                        }
                    }
                    #inside-col:hover {
                        //border: $border-lime-dotted;
                        background-color: $bg-transparent;
                        border-radius: 10px;
                        height: 235px;
                        width: 175px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }  
    #gen-results-albuns {
        //border: $border-red-dotted;
        @include box-reset-default;
        padding-bottom: 15px;
        #gen-results-albuns-col {
            //border: $border-red-dotted;
            @include box-reset-default;
            #albuns-inner-row {
                //border: $border-yellow-dotted;
                @include box-reset-default;
                height: 85px;
                #album-thumbnail {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 85px;
                    margin-right: 5px;
                    img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        border-radius: 2px;
                    }
                }
                #album-title {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    overflow: hidden;
                    white-space: nowrap;
                    #open-album-page:hover{
                        text-decoration: underline;
                    }
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        height: fit-content;
                        width: 100%;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        height: fit-content;
                        width: 100%;
                    }
                    #open-artist-page:hover{
                        text-decoration: underline;
                    }
                }
            }
            #albuns-inner-row:hover {
                background-color: $bg-transparent;
                border-radius: 15px;
            }
        }
    }
    #gen-results-songs {
        //border: $border-red-dotted;
        @include box-reset-default;
        #gen-results-songs-col {
            //border: $border-yellow-dashed;
            @include box-reset-default;
            #songs-inner-row {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                height: 50px;
                cursor: grab;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 25px;
                    .drag {
                        @include box-reset-default;
                        cursor: grab;
                        img {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        border-radius: 2px;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: hidden;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-top: -3px;
                        #open-artist-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-album {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        #open-album-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 7px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                    #plus-dd:hover {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 7px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    padding: 3px;
                }
                #col-num, #col-cover, #col-title, 
                #col-album, #col-duration,
                #col-plus, #col-minus {
                    height: 100%;
                    padding: 0 5px;
                };   
            }
            #songs-inner-row-green {
                //border: $border-yellow-dashed;
                @include box-reset-default;
                color: $primary;
                height: 50px;
                cursor: grab;
                #col-add {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 25px;
                    .drag {
                        @include box-reset-default;
                        cursor: grab;
                        img {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                        }
                    }
                }
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        border-radius: 2px;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
                #col-title {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex-wrap: wrap;
                    h5 {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: -3px;
                    }
                    p {
                        //border: $border-magenta-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-top: -3px;
                        #open-artist-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            color: $primary;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-album {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        #open-album-page:hover{
                            text-decoration: underline;
                        }
                        a {
                            //border: $border-magenta-dotted;
                            @include box-reset-default;
                            color: $primary;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                #col-duration {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    color: $primary;
                    white-space: nowrap;
                    width: 55px;
                    p {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        color: $primary;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                #col-plus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 50px;
                    padding: 3px;
                    position: relative;
                    #plus-dd {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 7px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                    #plus-dd:hover {
                        //border: $border-cyan-dotted;
                        @include box-reset-default;
                        width: 40px;
                        position: relative;
                        padding-right: 7px;
                        #plus-icon {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: hidden;
                            position: absolute;
                        }
                        #plus-icon-green {
                            //border: $border-cyan-dotted;
                            @include box-reset-default;
                            visibility: visible;
                            position: absolute;
                        }
                    }
                    #dropdown-ul {
                        //border: $border-cyan-dotted;
                        max-height: 300px;
                        overflow-y: hidden;
                        scrollbar-gutter: stable;
                        padding-right: 5px;
                        background-color: $primary;
                        #dd-top-text {
                            //border: $border-cyan-dotted;
                            color: white;
                            background-color: $primary;
                        }
                        #dd-item{
                            //border: $border-cyan-dotted;
                            font-weight: bold;
                        }
                        #dd-item:hover {
                            //border: $border-cyan-dotted;
                            background-color: $secondary;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    #dropdown-ul:hover {
                        overflow-y: auto;
                    }
                    #plus-dd:focus, #plus-dd:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
                #col-minus {
                    //border: $border-cyan-dotted;
                    @include box-reset-default;
                    width: 40px;
                    padding: 3px;
                }
                #col-num, #col-cover, #col-title, 
                #col-album, #col-duration,
                #col-plus, #col-minus {
                    height: 100%;
                    padding: 0 5px;
                };   
            }
            #songs-inner-row:hover {
                background-color: $bg-transparent;
                border-radius: 10px;
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
            }
            #songs-inner-row-green:hover {
                background-color: $bg-transparent;
                border-radius: 10px;
                #col-cover {
                    //border: $border-lime-dotted;
                    @include box-reset-default;
                    width: 50px;
                    position: relative;
                    #cover-img {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                    }
                    #play-button {
                        //border: $border-lime-dotted;
                        @include box-reset-default;
                        position: absolute;
                        visibility: visible;
                        #play-icon {
                            //border: $border-lime-dotted;
                            @include box-reset-default;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}
.selected-track2 {
    @include box-reset-default;
    background-color: $bg-transparent2;
    border-radius: 10px; // Add similar styling as hover if needed
    border: 1px solid $primary;
    box-sizing: border-box;
    height: 50px;
}
.selected-track2:hover {
    @include box-reset-default;
    border: 1px solid $primary;
    border-radius: 10px; // Add similar styling as hover if needed
}
.no-text-select {
    user-select: none;
}