$primary: #1DB954;
$secondary:  rgb(241, 91, 241);
$bg-transparent:  rgba($color: #000000, $alpha: 0.50);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./custom_modules/borders.scss";
@import "./custom_modules/mixins.scss";
@import "../pages/home/HomePage.scss";
@import "../pages/login/LoginPage.scss";

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url(../assets/images/background/00_sparkly-purple-bkg.jpg);
}