$primary: #1DB954;
$secondary:  rgb(241, 91, 241);
$bg-transparent:  rgba($color: #000000, $alpha: 0.50);

$form-check-input-checked-border-color: $primary;
$form-check-input-focus-box-shadow: none;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../pages/Login/LoginPageStyle.scss";
@import "../pages/Home/HomePageStyle.scss";


//---------------------------------------------------------------------------------------------------------------------------------------------------------

$tb-red-solid: 2px solid red;
$tb-red-dashed: 2px dashed red;
$tb-red-dotted: 2px dotted red;
$tb-orange-solid: 2px solid orange;
$tb-orange-dashed: 2px dashed orange;
$tb-orange-dotted: 2px dotted orange;
$tb-yellow-solid: 2px solid yellow;
$tb-yellow-dashed: 2px dashed yellow;
$tb-yellow-dotted: 2px dotted yellow;
$tb-lime-solid: 2px solid lime;
$tb-lime-dashed: 2px dashed lime;
$tb-lime-dotted: 2px dotted lime;
$tb-green-solid: 2px solid green;
$tb-green-dashed: 2px dashed green;
$tb-green-dotted: 2px dotted green;
$tb-blue-solid: 5px solid blue;
$tb-blue-dashed: 2px dashed blue;
$tb-blue-dotted: 2px dotted blue;
$tb-cyan-solid: 2px solid cyan;
$tb-cyan-dashed: 2px dashed cyan;
$tb-cyan-dotted: 2px dotted cyan;
$tb-pink-solid: 2px solid pink;
$tb-pink-dashed: 2px dashed pink;
$tb-pink-dotted: 2px dotted pink;
$tb-magenta-solid: 2px solid magenta;
$tb-magenta-dashed: 2px dashed magenta;
$tb-magenta-dotted: 2px dotted magenta;
$tb-lilac-solid: 2px solid darkviolet;
$tb-lilac-dashed: 2px dashed darkviolet;
$tb-lilac-dotted: 2px dotted darkviolet;
$tb-purple-solid: 2px solid purple;
$tb-purple-dashed: 2px dashed purple;
$tb-purple-dotted: 2px dotted purple;

@mixin box-reset-default {
    margin: 0;
    padding: 0;
}

//---------------------------------------------------------------------------------------------------------------------------------------------------------

*{
    @include box-reset-default;
    color: white;
}

html{
    font-size: 16px;
}

body{
    background-image: url(../assets/images/background/00_sparkly-purple-bkg.jpg);
}

//---------------------------------------------------------------------------------------------------------------------------------------------------------

#footer-row{
    background-color: $bg-transparent;
    height: 90px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    #light-signature{
        font-weight: lighter;
    }
}

#pl-container{
    //border: $tb-red-solid;
    @include box-reset-default;
    #pl-header-row{
        //border: $tb-blue-solid;
        @include box-reset-default;
        height: 75px;
        padding-left: 20px;
        padding-right: 13px
    }
    #pl-body-row{ 
        //border: $tb-yellow-solid;
        @include box-reset-default;
        padding: 20px;
    }
    #pl-header-col-title, #pl-header-col-add{
        //border: $tb-lime-solid;
        @include box-reset-default;
    }
    h3{
        //border: $tb-lime-dotted;
        @include box-reset-default;
        //padding-left: 10px;
    }
}

#pl-row{
    //border: $tb-yellow-dashed;
    @include box-reset-default;
    height: 50px;
    .row{
        //border: $tb-cyan-dashed;
        @include box-reset-default;
        .col, .col-auto{
            //border: $tb-yellow-dashed;
            @include box-reset-default;
            h4{
                @include box-reset-default;
            }
        }
    }
}

#o-pl-container{
    //border: $tb-red-solid;
    @include box-reset-default;
    #o-pl-header-row{
        border: $tb-cyan-solid;
        @include box-reset-default;
        padding: 0 20px;
        height: 75px;
        .col, .col-auto{
            //border: $tb-yellow-dashed;
            @include box-reset-default;
            display: flex;
            align-items: center;
            h4{
                @include box-reset-default;
            }
        }
        .col{
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            @include box-reset-default;
        }
    }
    #o-pl-body-row{
        border: $tb-yellow-solid;
        @include box-reset-default;
    }
}

#track-tb-container{
    @include box-reset-default;
    padding: 15px;
    #track-tb-row{
        thead{
            th{
                @include box-reset-default;
                font-weight: lighter;
                padding-left: 10px;
            }
        }
        tbody{
            tr{
                //border: $tb-cyan-dashed;
                @include box-reset-default;
                height: 50px;
            }
            
        }
        th, td{
            padding: 0 10px;
        }
        h5{
            @include box-reset-default;
        }
        h6{
            @include box-reset-default;
            font-weight: lighter;
            font-size: 0.9rem;
        }
        tfoot{
            //border: $tb-magenta-solid;
            @include box-reset-default;
            tr{
                //border: $tb-yellow-solid;
                @include box-reset-default;
            }
            th{
                //border: $tb-red-solid;
                @include box-reset-default;
                padding: 10px;
                button{
                    color: white;
                }
            }
        }
    }
}

/*<div id="track-tb-container" className="container">
                <div id="track-tb-row" className="row">
                    <table>
                        <thead>
                            <tr>
                                <th colSpan={2}>#</th>
                                <th>title</th>
                                <th>album/collection</th>
                                <th><img src={IMG.clockPNG} alt="" width="13px"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td><img src={IMG.placeHolders} alt="is saved icon" width="50px"/></td>
                                <td>
                                    <h5>Aquatic Mouth Dance</h5>
                                    <h6>Red Hot Chili Peppers</h6>
                                </td>
                                <td>Unlimited Love</td>
                                <td>4:21</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colSpan={4}><button id="" className="btn btn-primary btn-lg d-flex justify-content-center">Save Playlist</button></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>*/



